.card .text-black .my{
    border-radius: '25px';
    background-image: 'url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi2iQKqbUtB1zPeD3RBCXSjYZWovSy5YC-wQ&s")';
    background-size: 'cover';
    background-position: 'center';
}